.menu{
    color: $blue;
    display: inline-block;
    position: fixed;
    top: 0em;
    padding: 1em 2em;
    width: 100%;
    color: $blue;
    // background: $bg;
    z-index: 999;
    .logo{
        float: left;
    }
    .nav_txt{
        float: right;
        font-weight: 100;
        font-size: 1.5em;
        padding: 0 1em;
        text-decoration: none;
        color: $black;
        &:hover{
            color: $white;
            cursor: none;
        }
    }
    .signUp{
        font-weight: 600;
        color: $white;
        &:hover{
            color: $white;               
        }
    }
    .signIn{
        padding: 0.2em 1.5em;
    }
}