.social_btn{
    max-width: 200%;
    // max-height: 5%;
    background: $white;
    border-top-right-radius: 1em;
    border-top-left-radius: 0;
    padding: 0.5em;
    position: fixed;
    left: 0%;
    bottom: 0%;
    .soc_contents{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        img{
            margin: 0 1em;
            height: 30px;
        }
    }
    @include device('laptop'){
        right: -4%;
    }
    @include device('laptop'){
        max-width: 20%;
        top: 50%;
        right: -5%;
        left: auto;
        bottom: auto;
        padding: 1.5em;
        transform: translateY(-50%);
        transform: rotate(-90deg);
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
        /* Legacy vendor prefixes that you probably don't need... */
        /* Safari */
        -webkit-transform: rotate(-90deg);       
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }  
}